/* Estilo base para los campos de entrada */
input[type="text"],
select,
form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
}

/* Efecto de hover cuando el puntero del mouse pasa sobre los campos de entrada */
input[type="text"]:hover,
textarea:hover,
select:hover {
    border-color: #00a6ff;
    background-color: #eff1f4;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
}

#map {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    transition: background-color 0.3s;
}

/* Estilo por defecto para los elementos de formulario */
.form-control {
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s;
}

/* Estilo para los elementos enfocados */
.form-control:focus {
    outline: none;
    box-shadow: 0 0 55px rgba(106, 0, 255, 0.5);
}

/* Efecto de transición suave en botones */
.btn {
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.05);
}

/* Cambia el fondo del campo de texto enfocado */
.form-control:focus {
    background-color: #ffffff;
}

/* Estilo personalizado para etiquetas */
label {
    font-weight: bold;
    color: #333;
}
