/* Estilo base para los campos de entrada */
input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

/* Efecto de hover cuando el puntero del mouse pasa sobre los campos de entrada */
input[type="text"]:hover,
textarea:hover {
    border-color: #00a6ff; /* Cambia el color del borde en el hover */
    background-color: #eff1f4; /* Cambia el color de fondo en el hover */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1); /* Agrega una sombra suave */
}

#map {
    width: 70%; /* Ajusta el ancho del mapa al 70% del contenedor */
    height: 400px;
    margin: 0 auto; /* Centra el mapa horizontalmente */
    
    transition: background-color 0.3s; /* Agrega una transición de color de fondo de 0.3 segundos */
}

/* Estilo por defecto para los elementos de formulario */
.form-control {
    border: 1px solid #ccc;
    padding: 10px;
    transition: border-color 0.3s;
}

/* Estilo para los elementos enfocados */
.form-control:focus {
    outline: none; /* Quita el contorno predeterminado del navegador */
    box-shadow: 0 0 55px rgba(106, 0, 255, 0.5); /* Agrega una sombra alrededor del elemento enfocado */
}

/* Efecto de transición suave en botones */
.btn {
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #007bff; /* Cambia el color de fondo en el hover */
    color: #fff; /* Cambia el color del texto en el hover */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño en el hover */
}

/* Cambia el fondo del campo de texto enfocado */
.form-control:focus {
    background-color: #ffffff; /* Cambia el color de fondo al enfocar */
}

/* Estilo personalizado para etiquetas */
label {
    font-weight: bold;
    color: #333;
}

