.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 50%;
}

.carousel img {
    width: 70.5%;
    height: 200px;
    border-radius: 0%;
    align-self: center;
    scroll-snap-align: start;
}
.card-body {
    max-height: 150px;
    overflow: hidden;
    text-align: center;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 0.1;
    background: rgba(0, 0, 0, 0.5);

}



.carousel-control-next,
.carousel-control-prev,
.carousel img {
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
}


.carousel .carousel-indicators li {
    background-color: black;
}

.carousel .carousel-indicators li.active {
    background-color: blue;
}

.carousel-indicators{
    bottom: -15px;
}



.card-body > p {
   width: 100%;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}


