.carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 50%;
}

.carousel img {
    width: 100%;
    max-height: 200px;
    scroll-snap-align: start;
}


.carousel-control-next, .carousel-control-prev, .carousel img {
    user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
}



