.opcion{
    display:flex;
    justify-content: center;
    align-self: center;
    height: 200px;
    width: 200px;
    background-color: darkgray;
    border-radius: 50px;
    margin: 10px;
}
.divprincipal{
    background-color: #EEF2F5;
}