.opcion{
    display:flex;
    justify-content: center;
    align-self: center;
    height: 200px;
    width: 200px;
    background-color: darkgray;
    border-radius: 50px;
    margin: 10px;
}
.divprincipal{
    background-color: #EEF2F5;
}
.video{
height: 400px;
width: 900px;
}
@media only screen and (max-width: 800px) {
.video{
    height: 300px;
    width: 700px;
}
}

@media only screen and (max-width: 600px) {
    .video{
        height: 200px;
        width: 500px;
    }
}
